
:root{
    --main-color:#771E55;
    --secondary-color: #1E3277;

}

html {
    box-sizing: border-box;
    font-size: 100%; /* Base font size */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow:auto;
    /* background:linear-gradient(to bottom, #FFFEF1 ,  #A87D85) ; */
    background-color:#ffffff;
    text-align: center;
    margin: 0;
    color: var(--secondary-color);
    line-height: 1.6;
    font-size: 1rem; /* Responsive font size */
}

.logo-wrapper{
    height:20vw;
    width:20vw;
    position: absolute;
    margin:auto;
    left:5vw;
    top:3vw;
    /* border-radius: 40%;
    border:2px solid black; */
}

#logo{
    height:100%;
    width:100%;
    background-image: url('/static/img/tablae-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    
}
.ifuser-wrapper h3{
    position: relative;
    margin:auto;
    margin-top:10vw;
}

.navbar {
    width: 100% !important;
    padding:0px;
    position:relative;
    margin:auto;
    color: white;
  }
  
.navbar .nav-item .nav-link {
    background-color: #2a4bc5;
    border: 1px solid white;
    color: rgb(0, 0, 0); /* Text color for the nav items */
    border-radius:0px;
    }
  
.navbar .nav-item .nav-link.active {
    border: 1px solid black;
    font-weight:700;
    color:rgb(255, 255, 255);
    background-color: var(--secondary-color);
    }

.justify-content-center{
    padding:0px;
}

  
  
/* Mobile First Media Queries */
@media (min-width: 768px) {
    body {
        font-size: 1.0rem;
    }

    #logo{
        position: relative;
        margin:auto;
        width:5vw;
        height:5vw;
        bottom:2vw;
    }

    .logo-wrapper{
        margin:auto;
        height:5vw;
        width:5vw;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .ifuser-wrapper{
        display:flex;
        top:2vw;
        position: relative;
        width:40vw;
        justify-content: center;
        left:27vw;
    }

    .ifuser-wrapper h3{
        margin: auto;
        margin-top:0vw;
        width:25vw;
        /* left:15vw; */
    }

    .ifuser-wrapper h4{
        position: relative;
        margin:auto;
        /* left:-15vw; */
    }

    #logout{
        position:relative;
        left:35vw;
        align-items: center;
        bottom:2vw;
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.4rem;
    }
}