
.row{
    position: relative;
    margin:auto;
}
.profile-img{
    position:relative;
    margin:auto;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:30vw;
    width:30vw;
    border: 2px solid black;
    border-radius: 50%;
}

.chef-name{
    position: relative;
}

.current-restaurant{
    font-size:4vw;
    font-weight: 700;
    position: relative;
}

.related-restaurants-button{
    color:white;
    background-color:var(--secondary-color)
}

.description{
    padding:5px;
    border: 1px solid black;
    overflow-y: scroll;
    position: relative;
    font-size:smaller;
}

.follow-button{
    color:red;
    font-size: 16px;
    font-weight:700;
    position: relative;
}

.break-line{
    position: relative;
    margin: auto;
    border: 1px solid black;
    height:0;
    width:85%;
}


.chef-content-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.card.custom-card {
    flex: 0 0 auto; /* This ensures that cards don't grow or shrink but remain flexible */
    width: 30%; /* Adjust this value based on your preferred maximum width */
    margin-right: 15px; /* Spacing between cards */
    background-color: #fff; /* Card background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds a subtle shadow for depth */
    border-radius: 5px; /* Rounds the corners of the card */
    overflow: hidden; /* Ensures nothing spills out of the card's border-radius */
}

.card-img-top.custom-card-img {
    width: 100%; /* Makes the image take the full width of the card */
    height: auto; /* Keeps the image aspect ratio intact */
    object-fit: cover; /* Ensures the image covers the area nicely */
}

.card-body.custom-card-body {
    padding: 10px; /* Padding inside the card */
}

.card-text {
    margin: 0; /* Removes default margins */
    font-size: 1em; /* Adjust text size as needed */
}