

form{
    margin-top:5vw;
}

.container{
    position:relative;
    margin:5vw auto;
    text-align: center;

}
.card-text{
    padding:auto;
    margin:auto;
    position:relative;
    
}

.custom-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-card .card-body {
    flex-grow: 1; /* This makes the card body fill the available space */
    display: flex;
    flex-direction: column;
}

.card-body > .d-flex {
    margin-top: auto; /* This pushes your flex items to the bottom if there is space */
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  #scrollTopBtn:hover {
    background-color: #0056b3;
  }
  /* Custom CSS for the arrow */
  #scrollTopBtn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
  }


  a{
    text-decoration: none;
}
