


.profile-image{
    position: relative;
    margin: auto;
    background-image: url('/static/img/profile.jpg');
    background-position: center;
    background-size: cover;
    height:30vw;
    width:30vw;
    border-radius: 50%;
}

.username{
    font-weight: 700;
}

.profile-starcount h3{
    font-size: 8vw;
    font-weight:700;
}

.profile-starcount h6{
    color:red;
    font-size:7vw;
    font-weight:600;
}

.profile-quote{
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#checkin{
    position: relative;
    margin:auto;
    border-radius: 35px;
    padding:2vw;
    width: 80%;
    height: 100%;
    background-color: black;
    color:white;
    font-weight: 700;
}

.break-line{
    position: relative;
    margin:auto;
    border: 1px solid black;
    height:0px;
    width:85%;
}

/* New code */

#content-container {
    width:100%;
    /* Adjust as needed */
    /* max-height: 55vw; */
    overflow-x: auto;
}
.custom-card {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0.5rem;
}

.custom-card-img {
    height: 35vw;
    object-fit: cover;
}

.custom-card-body {
    /* height: 15vw; */
    overflow: hidden;
}

.card-text {
    margin: 0; /* Removes default margins */
    font-weight: 700;
    font-size: 1em; /* Adjust text size as needed */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines you want to display before truncating */
    margin-bottom: 0;
}




/* ---------------------------------------------------------------------------------- */
/* desktop display */
@media screen and (min-width: 768px) {
    /* Styles for screens wider than 768 pixels go here */
    
    .profile-image{
        height:10vw;
        width:10vw;   
    }

    .profile-starcount h3 {
        font-size: 4vw;
    }

    .profile-starcount h6 {
        font-size: 5vw;
    }

    .profile-quote {
        font-size: 0.5rem;
    }

    #checkin {
        font-size: 1rem;
        padding: 0vw;
        width: auto;
        height: auto;
        align-items: center;
    }

    .custom-card {
        width: 20%;
    }

    .custom-card-img {
        height: 15vw;
        object-fit: cover;
    }
}