
{% extends 'base.html' %}

{% block title %} Chef Profile - {{ chef.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chef-profile.css') }}">
{% endblock %}

{% block content %}
<div class="container chef-profile">
    <div class="row mt-4">
        <!--left side-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="col-6 justify-content-center">
            {% if chef.profile_picture %}
                <div class="profile-img" style="background-image: url('{{ chef.profile_picture }}');"></div>
            {% else %}
                <div class="profile-img" style="background-image:'static/img/profile-fill.jpg'"></div>
            {% endif %}    
            <div class="chef-name">{{ chef.name }}</div>
            <div class="current-restaurants">
                {% for restaurant in chef.restaurants %}
                <a href="{{ url_for('restaurants', restaurant_name=restaurant.name) }}">
                    <p class="mt-0 mb-0">{{ restaurant.name }}</p>
                </a>
                {% endfor %}
            </div>
            <div class="related-restaurants-button">RELATED RESTAURANTS</div>
        </div>
        <!--Right side-->
        <div class="col-6 mt-3">
            <div>I think that this would be better if it were a shorter form text</div>
            <form action="{{ url_for('follow_unfollow', entity_id=chef.id, entity_type='chef') }}" method="POST" class="mt-2 mb-2 col-12 d-flex justify-content-center">
                {% if is_following %}
                    <button type="submit" class="follow-button mt-3 btn btn-light">Unfollow</button>
                {% else %}
                    <button type="submit" class="follow-button mt-3 btn btn-light">Follow</button>
                {% endif %}
            </form>
        </div>
    </div>
    <!-- <div class="row mt-3">
        <div class="col-12 description">{{ details.bio }}</div>
    </div> -->
    <div class="row break-line my-5"></div>
    <!-- Chef's Feed Section -->
    <div id="chefContentLoader" class="horizontal-scroll-container" data-chef-id="{{ chef.id }}">
        <!-- Dynamically loaded content will be inserted here -->
        <div id="chefContent" class="chef-content-container"></div>

    </div>
    <div class="row break-line my-5"></div>

    <!--this will be the more detailed chef profile-->
    <div class="row justify-content-center" style="text-align: start;">
        <strong><h5 class="details col-10">Early Career & Culinary Education</h5></strong>
        <p class="col-12">{{ details.early_career }}</p>

        <strong><h5 class="details col-10">Achievements and Awards</h5></strong>
        <p class="col-12">{{ details.career_milestones }}</p>

        <strong><h5 class="details col-10">Culinary Philosophy and Style</h5></strong>
        <p class="col-12">{{ details.cooking_philosophy }}</p>
        <p class="col-12">{{ details.culinary_style }}</p>

        <strong><h5 class="details col-10">Charities and Community Projects</h5></strong>
        {% if details.charity_projects %}
            <p class="col-12">{{ details.charity_projects }}</p>
        {% else %}
            <p class="col-12">We are not aware of any Charity Projects at the moment. We update daily so keep checking back for the most up-to-date information.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const chefContentLoader = document.getElementById('chefContentLoader');
    const chefId = chefContentLoader.getAttribute('data-chef-id'); // Get chef id from data attribute
    let page = 1; // Example page number, adjust as necessary

    function loadChefContent(page, chefId) {
        // AJAX request to get chef content
        $.ajax({
            url: `/chef-content/${chefId}/${page}`,
            method: 'GET',
            success: function(response) {
                console.log(response)
                displayChefContent(response);
            },
            error: function(error) {
                console.log("Error loading chef content:", error);
            }
        });
    }

    function displayChefContent(content) {
        const contentContainer = document.getElementById('chefContent'); // Element to hold the content
        contentContainer.innerHTML = ''; // Clear existing content

        content.forEach(function(item) {
            const fallbackImageUrl = '/static/img/media.jpg'; // Path to your fallback image
            let contentHtml = `
                <a href="${item.url}" class="card custom-card text-decoration-none" target="_blank">
                    <img src="${item.image_url}" onerror="this.onerror=null;this.src='${fallbackImageUrl}'" class="card-img-top custom-card-img" alt="${item.title}">
                    <div class="card-body custom-card-body">
                        <p class="card-text">${item.title}</p>
                    </div>
                </a>
            `;
            contentContainer.insertAdjacentHTML('beforeend', contentHtml);
        });
    }

    // Initial load
    loadChefContent(page, chefId);
});
</script>
{% endblock %}