
<input type="hidden" id="total_pages" value="{{ total_pages }}">
{% if restaurants %}

    <div class="container appended-data">
    {% for res in restaurants %}
        <!-- Open a new row for the first card and then every subsequent pair of cards -->
        {% if loop.index0 % 2 == 0 %}
        <div class="row">
            {% endif %}
            <div class="col-6 col-md-4 mb-3">
                <a href="{% if res.city %}{{ url_for('top_restaurants', restaurant=res.name) }}{% else %}{{ url_for('restaurants', restaurant_name=res.name) }}{% endif %}">
                    <div class="card custom-card">
                        <img class="card-img-top" src="{{ res.image_url }}" alt="Restaurant Image">
                        <p>{{ res.url }}</p>
                        <div class="card-body">
                            <h5 class="card-title">{{ res.name }}</h5>
                            <div>
                                <div class="card-text justify-content-start">
                                    {% if res.distinction %}
                                        {% for _ in range(res.distinction) %}
                                            <img src="{{ url_for('static', filename='img/michelinStar.png') }}" alt="Michelin Star" class="michelin-star">
                                        {% endfor %}
                                    {% elif res.rank %}
                                        <p class="card-text justify-content-start rank d-flex justify-content-center align-items-center">{{ res.rank }}</p>
                                    {% endif %}
                                </div>
                                <p class="card-text">{{ res.style if res.style else res.city }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Close the row after every second card or if it's the last card in the list -->
        {% if loop.index0 % 2 == 1 or loop.last %}
            </div> <!-- This div closes the row -->
        {% endif %}
        {% endfor %}
    </div>
{% else %}
<div class="container-fluid">
    <h2>There were no results found.</h2>
</div>
{% endif %}