{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user-profile.css')}}">
{% endblock %}

{% block content %}
<!-- User Profile Data -->
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-2">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
<div class="container user-data">
    <div class="row mt-3">
        <!-- Left side -->
        <div class="col-6">
            <div class="profile-image mb-3"></div>
            <div class="username mb-2">{{ user.username }}</div>
            <div class="follow-buttons">Follow---Following</div>
        </div>
        
        <!-- Right side -->
        <div class="col-6 mt-3 mt-md-1">
            <div class="profile-starcount mb-3">
                <h3>Total Stars</h3>
                <h6>{{ user.total_stars }}</h6>
            </div>
            <div class="profile-quote">"Cooking is a language through which you can express harmony, creativity, happiness, beauty, poetry, complexity, magic, humor, provocation, culture."</div>
        </div>
    </div>

    <!-- Check In Button -->
    <div class="row mt-3n justify-content-center">
        <div class="col-12 col-md-6 py-2">
            <div id="checkin">Check In</div>
        </div>
    </div>
</div>

<div class="break-line mt-2"></div>

<!-- User Feed -->
<div class="container mt-4">
    <div class="row">
        <div class="w-100 col-12">
            <div id="content-container" style="overflow-x: auto; white-space: nowrap;">
                <!-- Your content will go here -->
            </div>             
        </div>
    </div>
</div>

<div class="break-line mt-2"></div>

{% endblock %}

{% block scripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
$(function() {
    var page = 1;
    var loading = false;

    function loadContent() {
        if (!loading) {
            loading = true;
            $.getJSON('/get-content/' + page, function(data) {
                console.log("calling function")
                // Append new content to the container
                $.each(data, function(i, item) {
                    let fallbackImageUrl = 'static/img/media.jpg';
                    $('#content-container').append(
                        '<a href="' + item.url + '" class="card custom-card text-decoration-none" target="_blank">' +
                            '<img src="' + item.image_url + '" onerror="this.onerror=null; this.src=\'' + fallbackImageUrl + '\'" class="card-img-top custom-card-img" alt="' + item.title + '">' +
                            '<div class="card-body custom-card-body">' +
                                '<p class="card-text">' + item.title + '</p>' +
                                '<p>' + item.name + '</p>' +
                            '</div>' +
                        '</a>'
                    );
                });
                page++;
                loading = false;
            });
        }
    }

    // Detect when scrolling near the end and load more content
    $('#content-container').scroll(function() {
        if ($(this).scrollLeft() + $(this).innerWidth() >= $(this)[0].scrollWidth - 100) {
            loadContent();
        }
    });

    // Initial load
    loadContent();
});</script>
{% endblock %}
